* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* for using GPU instead CPU in animation */
.no-cpu {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}

a {
  text-decoration: none;
  color: rgb(72, 25, 109);
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to right top,
    rgb(133, 74, 179),
    rgb(109, 72, 138)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  min-height: 80vh;
  width: 70%;
  min-width: 600px;
  border-radius: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.4)
  );
  z-index: 3;
  backdrop-filter: blur(1rem);
  display: flex;
  box-shadow: 0px 0px 15px 1px rgba(102, 102, 102, 0.3);
}

.circle1,
.circle2,
.circle3,
.circle4 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.circle1 {
  top: 44px;
  right: 38px;
  height: 24rem;
  width: 24rem;
}

.circle2 {
  animation: bubble 3s infinite linear;
  height: 12rem;
  width: 12rem;
  top: 340px;
  right: 50px;
}

.circle3 {
  height: 7rem;
  width: 7rem;
  bottom: 160px;
  left: 30px;
}

.circle4 {
  animation: bubble 4s infinite ease-in-out;
  height: 12rem;
  width: 12rem;
  bottom: 70px;
  left: 60px;
}

.profileContainer {
  background: linear-gradient(
    to right top,
    rgba(133, 74, 179, 0.1),
    rgba(109, 72, 138, 0.3)
  );
  border-radius: 1rem 0 0 1rem;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.356);
  margin: 15px 5px 0 5px;
}

.profile img {
  box-shadow: 0px 0px 5px 0px rgb(102, 102, 102);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.profile p {
  font-size: 12px;
}

.link {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.link:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 15px 1px rgba(102, 102, 102, 0.1);
}

.link img {
  height: 60px;
  width: 60px;
  padding: 5px;
}

.contacts_link .link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card {
  background: #ffffff13;
  box-shadow: 0px 0px 15px 1px rgba(102, 102, 102, 0.12);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 90%;
  margin: 5px 0;
  min-width: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 110px;
  border-radius: 10px;
}

.card .card-info {
  margin-left: 15px;
}

.cards .card-info p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  /* .circle1 {
        right: 1%;
    }
    .circle2 {
        right: 3%;
        top: 40%;
    }
    .circle3 {
        left: 6%;
        bottom: -3%;
    }
    .circle4 {
        left: 1%;
        bottom: 4%;
    } */
  .profile {
    text-align: center;
  }
  .profile img {
    width: 80px;
    height: 80px;
  }
  .profile_name {
    font-size: 14px;
  }
  .cards .card-info h1 {
    font-size: 20px;
  }
  .cards .card-info p {
    font-size: 12px;
  }
  .glass {
    flex-direction: column;
    margin: 20px 15px;
  }
  .profileContainer {
    border-radius: 1rem 1rem 0 0;
  }
  .profile {
    flex-direction: row;
    text-align: left;
  }
  .contacts_link {
    display: flex;
    flex-direction: row;
  }
}

/* Animation */

@keyframes bubble {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(6px, 2px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
